header {
  max-width: 1200px;
  height: 180px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.header-image {
  max-height: 180px;
}
.header-image img {
  // width: 100%;
  height: 100%;
  
}

.header-logo-text {
  max-height: 180px;
}
.header-logo-text__logo {
  height: 140px;
  float: right;
}
.header-logo-text__logo img {

  height: 100%;
}
.header-logo-text__text {
  height: 60px;
}

#top_nav {
	top: 180px;
	position: fixed;
	z-index: 1000;
}

a.nav-link {
	white-space: nowrap;
}

.work-on-border-block {
  border: 1px solid yellowgreen;
}